// Colors
$white: #fff;
$orange: #ffbb00;
$dark: #363636;

// Grays
$gray: rgb(222, 222, 222);
$gray-a100: rgba($gray, .1);
$gray-a200: rgba($gray, .2);
$gray-a300: rgba($gray, .3);
$gray-a400: rgba($gray, .4);
$gray-a500: rgba($gray, .5);
$gray-a800: rgba($gray, .6);
$gray-a600: rgba($gray, .7);
$gray-a700: rgba($gray, .8);
$gray-a900: rgba($gray, .9);

// Theme Colors
$primary: $orange;
