#webgl {
  position: absolute;
  outline: none;
}
.ownHeader {
  z-index: 3;
}
html,
body {
  overflow: hidden;
}

#imgCross {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
}
