.background {
  background-image: url("../../../../static/images/honeycomb_back.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btnConfirm {
  background-color: #ffbb00;
  color: #6a6a6a;
}

.btnConfirm:hover {
  background-color: #dca100;
  color: white;
}
.btnRegister {
  background-color: rgba(222, 222, 222, 0.5);
}
.btnRegister:hover {
  background-color: rgba(163, 163, 163, 0.5);
}
input:focus {
  border-color: #ffbb00 !important;
  box-shadow: 0 0 0 0.125em rgb(255 187 0 / 25%) !important;
}
