* {
    box-sizing: border-box !important;
}

/*button redesign*/
.button {
    padding: 8px !important;
    border-radius: 8px !important;
    border: none !important;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    border-radius: 16px !important;
}

td {
    vertical-align: middle !important;
    color: white !important;
    font-weight: 500 !important;
}


input {
    outline: none !important;
    background-color: transparent !important;
    font-weight: 500 !important;
}

p {
    margin-bottom: 0px !important;
}

.table {
    background-color: transparent !important;
}