.test {
   
    background-color: aliceblue;
}

.admin-container {
    border-radius: 16px;
    padding: 16px;
    background-color: white;
    padding: 64px 20px;
    background-color: white;
    color: black !important;
}

.admin-container td {
    color: black !important; 
}

.ownHeader {
    position: absolute !important;
    top: 0 !important;
}