.ownHeader {
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.element {
    background-color: rgba(222, 222, 222, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 0px;
    margin-top: 16px;
}

.rightElement {
  margin-right: 32px;
}

.leftElement {
  margin-left: 32px;
  padding: 0px 8px;
}

.headerCoins {
    font-size: 20px;
    margin-left: 4px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}



.leftElement .material-icons-outlined {
    color: #ffbb00;
}

.btnOption {
    border-radius: 8px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.btnOption:hover {
    cursor: pointer;
    border-left: 1px solid rgba(222, 222, 222, 1);
    border-right: 1px solid rgba(222, 222, 222, 1);
}

.btnOption:active {
    background-color: rgba(222, 222, 222, 1);
    border: none !important;
}

.btnOption .material-icons-outlined {
    font-size: 24px !important;
}

.pt-48 {
  font-size: 40px;
}

.color-inherit {
  color: inherit;
  text-decoration: inherit;
}

.color-inherit:hover {
  color: inherit;
}

.headerName {
  font-size: 20px;
  margin: 0px 8px 0px 16px;
  text-transform: uppercase;
  font-weight: 500;
}
a {
  text-decoration: inherit;
}
.button {
    text-decoration: inherit;
    padding: 8px !important;
}
