.whiteColor {
  color: #ffffff;
}

.orangeBackColor {
  background-color: #ffbb00;
}

.orangeBackColor:hover {
  background-color: #dca100;
}

.coinPrice {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.btnBuy {
    margin-right: 8px !important;
    font-weight: 500 !important;
}

.btnRemove {
    border: none !important;
    background-color: transparent !important;
}

.btnRemove:hover {
    border: 1px solid rgba(222, 222, 222, 1) !important;
}

.mw-auto {
    width: auto !important;
}

.mw-128 {
    width: 128px !important;
}

.mw-32 {
    width: 32px !important;
}

.tabs {
    margin-bottom: 0px !important;
}

.tabs ul {
    margin-bottom: 0px !important;
}

.tabs li a {
    border-radius: 8px 8px 0px 0px !important;
    padding: 4px 18px !important;
    border: none !important;
    color: white !important;
}

.tabs li.is-active a {
    border: none !important;
    border-bottom: hidden;
    position: relative !important;
    color: black !important;
    background-color: rgba(222, 222, 222, 0.1) !important;
    backdrop-filter: blur(10px) !important;
}

.tabs a {
    margin-bottom: 0px;
    color: gray !important;
}

.tabs ul {
    border-bottom: none !important;
}

.card {
    border-radius: 8px !important;
}

.card-content {
    padding: 16px !important;
}

.card-content img {
    margin-bottom: 8px !important;
}

.product-name {
    margin-bottom: 8px !important;
    font-size: 20px !important; 
    font-weight: 600 !important;
}

.product-category {
    margin-bottom: 0px !important;
}

.price-title {
    margin: 0px !important;
    font-size: 22px !important;
}

.title {
    font-size: 24px !important;
}

.shop-content {
    background-color: rgba(222, 222, 222, 0.1);
    backdrop-filter: blur(10px);
    margin: 0px !important;
    padding: 32px !important;
    border-radius: 8px !important;
    height: auto !important;
}